<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Django todo app</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% comment %}
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    {% endcomment %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js"></script>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: center;
          padding: 8px;
        }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
          Django Todo app
        </a>
    </nav>
    <br>
    <div class="container h-100 w-100">
      <!-- <h4>{{ request.user }}</h4> -->
      {% if not user.is_authenticated %}
      <p>Please login to create schedules</p>
      {% else %}
      {% if schedules %}
      <table style="width:30%">
        <tr>
          <th>Scheduled Date</th>
          <th>Name</th>
          <th>Status</th>    
        </tr>
        {% for schedule in schedules %}
        <tr>
            <td>{{ schedule.date }}</td>
            <td><a href="schedules">{{ schedule.name }}</a></td>
          
          <td>
            <!-- <button type="button" 
                    id='{{device.name}}'
                    value="{{device.status|lower}}"
                    onclick="send('{{device.name}}');"
                    class="btn btn-primary"
                    > -->
                    {% if schedule.completed %}
                    Completed
                    {% else %}
                    Pending
                    {% endif %}   
            <!-- </button> -->
          </td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
      <p>There are no schedules for you.</p>
      {% endif %}
      {% endif %}
      <br>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>